<!DOCTYPE html>

<html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../static/images/logo.jpeg">
  <title>OberPoll!</title>

      <link rel="stylesheet" href="./static/css/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="./static/css/poll.css">
      <link rel="stylesheet" type="text/css" href="./static/css/view-port.css">



      <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
      <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
      <script src="https://npmcdn.com/react-router@2.8.1/umd/ReactRouter.min.js"></script>
      <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
      <script type="text/babel" src="{{ url_for('static', filename='js/createpoll.js') }}"></script>

    <script src="./static/js/ie-emulation-modes-warning.js"></script>


  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">

            {% if session.get('user') %}
            <li class="welcome-message">Hey {{ session['user']}}!</li>
              <li role="presentation"><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}

            <li role="presentation"><a href="/polls">Polls</a></li>
            <li role="presentation"><a href="https://github.com/akshatphumbhra/oberPoll">Github</a></li>
          </ul>
        </nav>
        <a href="/"><img src="static/images/Oberlin-College-Logo.gif" /></a>
      </div>

      <div class="jumbotron">
        <h1>OberPoll! The free polling app!</h1>
        <p class="lead">Create free online polls with OberPoll</p>


        {% if not session.get('user') %}
        <p><a class="btn btn-lg btn-success" href="{{ url_for('signup') }}" role="button">Sign up today</a></p>
        {% else %}
        <p><a class="btn btn-lg btn-success" href="/polls" role="button">Create a poll</a></p>
        {% endif %}

      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h3>Why OberPoll?</h3>
          <p>OberPoll is Oberlin College's free alternate to iClickers and REEF polling apps!</p>
        </div>

        {% if not session.get('user') %}
        <div class="col-lg-6">
          <h3 class="form-header">Login</h3>

          <form method="post" action="{{ url_for('login') }}">
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  {% for category, message in messages %}
                  <p class="{{ category }}">{{ message }}</p>
                  {% endfor %}
              {% endif %}
          {% endwith %}

            <div class="form-group has-success">
              <input type="text" class="form-control" name="username" placeholder="Username" />
            </div>

            <div class="form-group has-success">
              <input type="password" class="form-control" name="password" placeholder="Password" />
            </div>

            <button type="submit" name="submit" class="btn btn-success">Login</button>
          </form>
        </div>
        {% else %}
          <div id="container" class="row marketing">

          </div>
        {% endif %}
      </div>

      <footer class="footer">
        <p>&copy; 2019 OberPoll</p>
      </footer>
<script src="{{ url_for('static', filename='js/viewport-bug.js') }}"></script>
  </body>
</html>
